<form id="buscar" method="get" action="/quizes">
	<div>
		Texto<span class="elim"> a buscar</span>:
		<input class="texto" type="text" name="search" value=""/>
	</div>
	<div>
		Tema<span class="elim"> a buscar</span>:
		<select class="texto" name="tema">
			<option value="" selected></option>
			<% include _temas.ejs %>
		</select>
	</div>
	<input type="submit" value="Buscar"/>
</form>

<table>
	<thead>
		<tr class="titulo">
			<th>Pregunta</td>
			<th>Tema</td>
		</tr>
	</thead>
	<tbody>
		<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr class="contenido">
			<td>
				<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			</td>
			<td>
				<a href="quizes?tema=<%= quizes[i].tema %>"><%= quizes[i].tema %></a>
			</td>
			<% if (session.user) { %>
			<td>
				<a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a>
			</td>
			<td>
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
						Borrar
					</button>
				</form>
			</td>
			<% } %>
		</tr>
		<% } %>
	</tbody>
</table>


<% if (session.user) { %>
	<p class="botones"><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>
<% } %> 
