<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<%= quiz.pregunta %>
	<p class ="botones">
		<input type="text" name="respuesta" placeholder="Respuesta"/>
		<input type="submit" value="Enviar"/>
	</p>
</form>

<p class="botones">
	<a href="/quizes/<%= quiz.id %>/comments/new">
		<button>Nuevo comentario</button>
	</a>
</p>
<p class="botones">
	<strong>Comentarios:</strong>
</p>


<table>
	<% for(i in quiz.Comments) { %>
	<tr>
		<% if(quiz.Comments[i].publicado || session.user) { %>
		<td style="width:70%">
			<p>- <%= quiz.Comments[i].texto %></p>
		</td>
		<% } %>

		<% if(session.user) { %>
		<td>
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/edit">
				<button>Editar</button>
			</a>
		</td>
		<td>
			<form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('¿Eliminar el comentario?');">
					Eliminar
				</button>
			</form>
		</td>
		<% } %>

		<% if(session.user && !quiz.Comments[i].publicado) { %>
		<td>
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish">
				<button>Publicar</button>
			</a>
		</td>
	<% } %>
	</tr>
	<% } %>
</table> 
