<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<%= quiz.pregunta %>
	<p class ="botones">
		<input type="text" name="respuesta" placeholder="Respuesta"/>
		<input type="submit" value="Enviar"/>
	</p>
</form>

<p class="botones">
	<a href="/quizes/<%= quiz.id %>/comments/new">
		<button>Nuevo comentario</button>
	</a>
</p>
<p class="botones">
	<strong>Comentarios<% if(session.user) { %> añadidos<% } else { %> publicados<% } %>:</strong>
</p>


<table>
	<% for(index in quiz.Comments) { %>
	<tr>
		<% if(quiz.Comments[index].publicado || session.user) { %>
		<td style="width:70%">
			<p>[<%= +index+1 %>] - <%= quiz.Comments[index].texto %></p>
		</td>
		<% } %>

		<% if(session.user) { %>
		<td>
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/edit">
				<button>Editar</button>
			</a>
		</td>
		<td>
			<form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>?_method=delete">
				<button	type="submit"
						onClick="return confirm('¿Eliminar el comentario: <%= quiz.Comments[index].texto %> ?');">
					Eliminar
				</button>
			</form>
		</td>
		<td>
		<% if(!quiz.Comments[index].publicado) { %>
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
				<button style="color:red;">Publicar</button>
			</a>
		<% } else { %>
			¡Publicado!
		<% } %>
		</td>
		<% } %>
	</tr>
	<% } %>
</table> 
